/target/
!.mvn/wrapper/maven-wrapper.jar


/.metadata/
/executionLogs/
/test-output/
/htmlReports/
.project
.classpath
.settings/
data/~$TestData.xlsx
/screenShots/
report/
*/*.DS_Store/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/